<!DOCTYPE html>
<html class=''>
<head> <!--Importing necessary stylesheets-->
	<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,300' rel='stylesheet' type='text/css'>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">	
	<script>try{Typekit.load({ async: true });}catch(e){}</script>
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css'><link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css'>
</head>
<body>
<div id="frame"><!--Whole page-->
	<div id="sidepanel"> <!--Left side panel-->
		<div id="profile"><!--User Profile-->
			<div class="wrap">
				<img id="profile-img" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_640.png" class="online" alt="" />
				<p>{{ourid1.name}}</p>
			</div>
		</div>
		<div id="search"> <!--Search Function-->
			<label for=""><i class="fa fa-search" aria-hidden="true"></i></label>
			<input type="text" placeholder="Search contacts..." />
		</div>
		<div id="contacts"> <!--List of all user to chat with-->
				<ul *ngFor="let contact of contacts">
					<li [ngClass]="selected.name===contact.name ? 'contact active' : 'contact' " *ngIf="contact.online" (click)="selection(contact)">
						<div class="wrap">
							<span class="contact-status online"></span>
							<img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_640.png" alt="" />
							<div class="meta">
								<p class="name">{{contact.name}}</p>
								<p class="preview">{{contact.emailid}}</p>
							</div>
						</div>
					</li>
				</ul>
				<ul *ngFor="let contact of contacts">
					<li [ngClass]="selected.name===contact.name ? 'contact active' : 'contact' " *ngIf="!contact.online" (click)="selection(contact)">
						<div class="wrap">
							<span class="contact-status offline"></span>
							<img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_640.png" alt="" />
							<div class="meta">
								<p class="name">{{contact.name}}</p>
								<p class="preview">{{contact.emailid}}</p>
							</div>
						</div>
					</li>
				</ul>
				
		</div>
		<div id="bottom-bar"> <!--Logout and adduser -->
			<button id="addcontact"><i class="fa fa-user-plus fa-fw" aria-hidden="true"></i> <span>Add contact</span></button>
			<button id="settings" (click)="logout()"><i class="fa fa-cog fa-fw" aria-hidden="true"></i> <span>Logout</span></button>
		</div>
	</div>
	<div class="content"> <!--Messages Section (Right side)-->
		<div class="contact-profile"><!--Selected user profile-->
			<img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_640.png"alt="" />
			<p>{{selected.name}}</p>
			<div class="social-media">
				<p id="contact-profile_1">{{selected.emailid}}</p>
			</div>
		</div>
		<div class="messages"><!--Messages between selected and logged in user-->
			<ul *ngFor="let mesg of messages1">
				<li class="replies" *ngIf="selected.name===mesg.recieverid">
					<img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_640.png" alt="" />
					<p>{{mesg.message}}</p>
				</li>
				<li class="sent" *ngIf="selected.name===mesg.senderid">
					<img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_640.png" alt="" />
					<p>{{mesg.message}}</p>
				</li>
			</ul>
		</div>
		<div class="message-input"><!--To take in new messages and attachment-->
			<div class="wrap">
			<form #msg="ngForm" (ngSubmit)="submit(msg)">
			<input type="text" name ="message" placeholder="Write your message..." ngModel>
			<i class="fa fa-paperclip attachment" aria-hidden="true"></i>
			<button class="submit" type="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
		</form>
		</div>
		</div>
	</div>
</div>
</body>
</html>